---
import Layout from "../layouts/Layout.astro";

import localComputerImage from "../images/computer1.gif";
---

<Layout title="ell.dev">
  <div class="w-full h-full flex flex-row justify-center content-center">
    <div class="flex flex-col justify-center">
      <div class="sm:w-96 w-full border-slate-800 mt-8 mb-8">
        <div class="mb-4">
          <h1 class="text-xl">links</h1>
          <hr class="mb-1" />
          <ul>
            <li><a href="https://github.com/ell">> github</a></li>
            <li><a href="https://twitch.tv/ellg">> twitch</a></li>
          </ul>
        </div>
        <div class="mb-4">
          <h1 class="text-xl">projects</h1>
          <hr class="mb-1" />
          <ul>
            <li><a href="https://twitchroulette.net">> twitch roulette</a></li>
            <li><a href="https://vgmusic.fm/">> video game music</a></li>
            <li>
              <a href="https://ads.vgmusic.fm/">> cool video game commercials</a
              >
            </li>
            <li>
              <a href="https://cryptosound.dev/">> crypto sounds</a>
            </li>
          </ul>
        </div>
        <div class="mb-4">
          <h1 class="text-xl">sketches</h1>
          <hr class="mb-1" />
          <ul>
            <li><a href="/sketches/grid">> grid</a></li>
          </ul>
        </div>
      </div>
      <div>
        <img src={localComputerImage.src} alt="computer" class="w-96" />
      </div>
    </div>
  </div>

  <style>
  </style>
</Layout>
