---
interface Props {
	title: string;
	bgColor?: string;
}

const { title, bgColor } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="ell.dev" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={`${bgColor ? bgColor : 'bg-black'} text-slate-200`}>
		<slot />
	</body>
</html>
